.h3 {
  margin: 1.5em 1em .5em;
  font-size: 20px;
  text-align: left; }

ons-page {
  text-align: center; }

.toolbar__title {
  font-family: 'Lobster', cursive;
  font-size: 2em; }

.get-genius-button {
  text-align: center;
  /*background: $color-blue-light*/ }

.card-image-container {
  width: 100%;
  height: 230px;
  position: relative;
  overflow: hidden; }
  .card-image-container img {
    position: absolute;
    display: block;
    top: 0;
    left: 0; }

.directions {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .directions .go-path {
    display: flex;
    align-items: center;
    justify-content: space-around; }
  .directions .path-time {
    margin-right: 1em; }

#open-now {
  color: darkgreen; }

#not-open-now {
  color: crimson; }

.genius-filters {
  text-align: left;
  margin-left: 1em; }
  .genius-filters .category-checkbokes {
    display: flex;
    justify-content: space-around;
    margin-top: .5em; }

.tags-cb-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1em; }
  .tags-cb-container .tag-cb {
    background-color: #e3e3e3;
    padding: 0.5em 1em;
    margin: 0.25em 0;
    border-radius: 20px; }
    .tags-cb-container .tag-cb.selected {
      background-color: #8abed3; }

.home-card-img-container {
  width: 100%;
  height: 100px;
  position: relative;
  overflow: hidden; }
  .home-card-img-container img {
    position: absolute;
    width: 100%;
    display: block;
    top: 0;
    left: 0; }
