ons-page {
  text-align: center; }

.toolbar__title {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em; }

.get-genius-button {
  text-align: center;
  background: #89bdd3; }

.card-image-container {
  width: 100%;
  height: 230px;
  position: relative;
  overflow: hidden; }
  .card-image-container img {
    position: absolute;
    display: block;
    top: 0;
    left: 0; }

.directions {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .directions .go-path {
    display: flex;
    align-items: center;
    justify-content: space-around; }
  .directions .path-time {
    margin-right: 1em; }

.coffee-card-container {
  margin: 1em;
  width: 20em;
  background-color: rgba(227, 227, 227, 0.4);
  border-radius: 30px; }
  .coffee-card-container .coffee-card-thumbnail {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden; }
  .coffee-card-container .coffee-card-title {
    position: absolute;
    left: 20px;
    color: #fff; }

.tags-cb-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1em; }
  .tags-cb-container .tag-cb {
    background-color: #89bdd3;
    padding: 0.5em 1em;
    margin: 0.25em 0;
    border-radius: 20px; }
    .tags-cb-container .tag-cb.selected {
      background-color: #8abed3; }
