#general-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  .footer-icon-bar {
    background-color: $color-grey;
  }

  ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    text-transform: none;
  }

  svg {
    fill: $color-blue;
  }
}
