.get-genius-button {
  text-align: center;
}

.card-image-container {
  width: 100%;
  height: 230px;
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
  }
}